/* works sans font link from google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


/* Universal selector's styles are here */
* {
    font-family: "Work Sans", sans-serif;
    margin: 0;
    padding: 0;
}

/* header section styles are started from here  */
header {
    padding: 20px 16% 0;
    background: rgba(255, 144, 14, 0.10);
}

/* nav related styles  */

.nav-container {
    display: flex;
    justify-content: space-between;
}

.nav-title {
    color: #131313;
    font-size: 45px;
    font-weight: 700;
}

.nav-container .nav-li-container {
    display: flex;
    align-items: center;
}

.nav-container .nav-li-container>li {
    list-style: none;
    margin-right: 30px;
    color: #424242;
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
}

.nav-container .nav-li-container>li>a {
    text-decoration: none;
}

/* banner related style  */